@using LETS.Models
@model LetsUser
@{
    ViewBag.Title = "My Profile";
    ViewBag.stylesheet = "userProfile.css";
    var successMessage = TempData["PasswordChanged"]?.ToString() ?? "";
    var failureMessage = TempData["PasswordNotChanged"]?.ToString() ?? "";
}
<div class="form-body">
    <h3 class="form-section">My Profile</h3>

    <hr />

    <div class="alert alert-success @(string.IsNullOrEmpty(successMessage) ? "hide" : "")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@successMessage</strong>
    </div>
    
    <div class="alert alert-danger @(string.IsNullOrEmpty(failureMessage) ? "hide" : "")">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@failureMessage</strong>
    </div>

    <div class="form-group">
        <div class="row tab-content">
            <div class="col-md-4 information-cols">
                <div class="information-card">
                    @Html.Partial("_Partials/_UserProfileCard")
                </div>
            </div>
            <div id="account_overview_view" class="col-md-8 information-cols tab-pane active fade in">
                <div class="information-card">
                    @Html.Partial("_Partials/_Overview")
                </div>
            </div>
            <div id="account_settings_view" class="col-md-8 information-cols tab-pane fade">
                <div class="information-card">
                    @Html.Partial("_Partials/_AccountSettings")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/lets/userProfile.js"></script>
}