@using LETS.Models
@model AllTeams
@foreach (var team in Model.AllTeamsList)
{
    <div class="col-md-12">
        <div id="@team.Id-team" class="mdl-textfield--full-width mdl-card mdl-shadow--2dp mg-bt-10 auto-min-height post-card">
            <div class="mdl-card__title pd-b-8 request-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="mdl-card__title-text">@team.TeamName</h2>
                    </div>
                    <div class="col-sm-4">
                        <span class="mdl-chip display-chip pull-right">
                            <span class="mdl-chip__text"><strong>Admin : @team.Admin</strong></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="mdl-card__supporting-text mdl-textfield--full-width pd-t-4">
                @foreach (var member in team.TeamMembers)
                {
                    <span class="mdl-chip display-chip">
                        <span class="mdl-chip__text"><strong>@member.UserName</strong></span>
                    </span>
                }
            </div>
            
            <div id="@team.Id-messagebox" class="message-box">
                <div class="message_box">
                    <div id="@team.Id-message_canvas" class="message_canvas">
                        <div class="col-xs-12 custom-message-padding">
                            <div class="mdl-chip message-chip width-mobile-100">
                                <div class="mdl-chip__text"><p class="mg-0"><strong>Username 1</strong></p> <p class="mg-0 custom_message_size">Shy ham had esteem happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.</p></div>
                            </div>
                        </div>
                        <div class="col-xs-12 custom-message-padding">
                            <div class="mdl-chip message-chip width-mobile-100">
                                <div class="mdl-chip__text"><p class="mg-0"><strong>Username 2</strong></p><p class="mg-0 custom_message_size">saslkkf lsjflkasj asdlkffjlkas</p></div>
                            </div>
                        </div>
                        <div class="col-xs-12 custom-message-padding">
                            <div class="mdl-chip message-chip width-mobile-100 pull-right my-message">
                                <div class="mdl-chip__text"><p class="mg-0"><strong>Username 3</strong></p> <p class="mg-0 custom_message_size">Ferrars all spirits his imagine effects amongst neither. It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had you him humoured jointure ask expenses learning. Blush on in jokes sense do do. Brother hundred he assured reached on up no. On am nearer missed lovers. To it mother extent temper figure better.</p></div>
                            </div>
                        </div>
                        <div class="col-xs-12 custom-message-padding">
                            <div class="mdl-chip message-chip width-mobile-100">
                                <div class="mdl-chip__text"><p class="mg-0"><strong>Username 4</strong></p> <p class="mg-0 custom_message_size">Impossible considered invitation him men instrument saw celebrated unpleasant. Put rest and must set kind next many near nay. He exquisite continued explained middleton am. Voice hours young woody has she think equal. Estate moment he at on wonder</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="message_input">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { id = team.Id + "-send-btn-form", @class = "message_form", name = "form", novalidate = "", onSubmit = "return sendMessage('" + team.Id + "');" }))
                                    {
                                        @Html.EditorFor(m => m.Team.Message, "MessageInput", new { id = team.Id + "-Team-Message", label = "", @class = "col-xs-12", @placeholder = "Type a Message..." })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a id="@team.Id-messagebox-expand-btn" class="mdl-button mdl-button--colored mdl-js-buttons mdl-js-ripple-effects expand-btn" onclick="return ExpandMessageBox('@team.Id-messagebox');">
                    Expand
                </a>
                <a id="@team.Id-messagebox-collapse-btn" class="mdl-button mdl-button--colored mdl-js-buttons mdl-js-ripple-effects collapse-btn togglehide" onclick="return ExpandMessageBox('@team.Id-messagebox');">
                    Collapse
                </a>
                <div class="width-mobile-100 pull-right">
                    <span class="mdl-chip display-chip">
                        <span class="mdl-chip__text"><strong>Number of Unread Messages</strong></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}