@using LETS.Models
@model UserTimeLinePostsList
@{
    ViewBag.Title = "Home";
}

<div class="form-body">
    <h3 class="form-section"><i class="fa fa-rss fa-fw" aria-hidden="true"></i>Timeline</h3>
    <hr />
    <div class="row">
        <div class="personal_requests col-xs-12">
            @foreach (var post in Model.UserTimelinePostsList)
            {
                <div id="@string.Concat(post.UserName, "__request__", post.Request.Id)" class="mdl-textfield--full-width mdl-card mdl-shadow--2dp mg-bt-10 auto-min-height post-card temp_hide">
                    <div class="mdl-card__actions mdl-card--border">
                        <h5>@post.FirstName @post.LastName</h5>
                        <div class="mdl-card__supporting-text mdl-textfield--full-width pd-t-4">
                            @post.Request.Date.ToString("F")
                        </div>
                    </div>
                    <div class="mdl-card__title pd-b-8 request-title">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2 class="mdl-card__title-text">@(post.Request.Title.Length > 100 ? post.Request.Title.Substring(0, 100) + "..." : post.Request.Title)</h2>
                                </div>
                                <div class="col-xs-4">
                                    <span class="mdl-chip budget-chip pull-right">
                                        <span class="mdl-chip__text"><strong><i class="fa fa-diamond fa-fw" aria-hidden="true"></i> @post.Request.Budget</strong></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick='return UserRequestExpand("@post.UserName", "@post.Request.Id");'>
                            Expand
                        </a>
                        <div class="width-mobile-100 pull-right">
                            <span class="mdl-chip tag-chip">
                                <span class="mdl-chip__text"><strong>@post.Request.Tags.Last()</strong></span>
                            </span>
                            @if (post.Request.Tags.Count > 1)
                            {
                                <span class="mdl-chip tag-chip">
                                    <span class="mdl-chip__text"><strong>+@(post.Request.Tags.Count - 1)</strong></span>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>