<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="1 column layout" />

    @* Fall back CSS *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey:"7b69f76a-b395-4fa2-b3fc-75cfa69c28b6"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    <script type="text/javascript">
        //                   .------.
        //     .\/.          |______|
        //   _\_}{_/_       _|______|_
        //    / }{ \       [__________]          .\/.
        //     '/\'        /          \        _\_\/_/_
        //                ()  o  o    ()        / /\ \
        //                 \ ~~~   .  /          '/\'
        //            _\/   \ '...'  /    \/_
        //             \\   {`------'}    //
        //              \\  /`---/',`\\  //
        //               \/'  o  | |\ \`//
        //               /'      | | \/ /\
        //  __,. -- ~~ ~|    o   `\|      |~ ~~ -- . __
        //              |                 |
        //              \    o            /
        //               `._           _.'
        //                  ^~- . -  ~^
        //           LET IT SNOW, LET IT SNOW
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme: 'custom',
            custom_theme_widget: 'recaptcha_widget'
        };
    </script>
    @if (ViewBag.stylesheet != null && ViewBag.stylesheet.ToString() != "")
    {
        <link rel="stylesheet" href="../../Content/lets/pages/@ViewBag.stylesheet" />
    }
    <title>@ViewBag.Title - Local Exchange Trading System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customSharedCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="letsApp" ng-controller="letsController" class="flexbox">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Royal Holloway LETS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Title == "Home" ? "active" : "")">@Html.ActionLink("Timeline", "Home", new { controller = "Home" }, new { @class = "mdl-js-button mdl-js-ripple-effect" })</li>
                    <li class="@(ViewBag.Title == "Components" ? "active" : "")">@Html.ActionLink("Components", "ComponentsGuide", new { controller = "Home" }, new { @class = "mdl-js-button mdl-js-ripple-effect" })</li>
                </ul>
                @Html.Partial("_Partials/_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content @ViewBag.Title">
        @if (@ViewBag.Title.Equals("Index"))
        {
            <div class="text-layer">
                <h1>Royal Holloway Local Exchange Trading System</h1>
            </div>
        }
        <div class="panel panel-default">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="footer-text">&copy; @DateTime.Now.Year - Local Exchange Trading System</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
