<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="1 column layout" />

    @* Fall back CSS *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'custom',
            custom_theme_widget: 'recaptcha_widget'
        };
    </script>
    @if (ViewBag.stylesheet != null && ViewBag.stylesheet.ToString() != "")
    {
        <link rel="stylesheet" href="../../Content/lets/pages/@ViewBag.stylesheet" />
    }
    <title>@ViewBag.Title - Local Exchange Trading System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customSharedCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="letsApp" ng-controller="letsController" class="flexbox">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Royal Holloway LETS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Title == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "mdl-js-button mdl-js-ripple-effect" })</li>
                    <li class="@(ViewBag.Title == "Components" ? "active" : "")">@Html.ActionLink("Components", "ComponentsGuide", new { controller = "Home" }, new { @class = "mdl-js-button mdl-js-ripple-effect" })</li>
                </ul>
                @Html.Partial("_Partials/_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="panel panel-default">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="footer-text">&copy; @DateTime.Now.Year - Local Exchange Trading System</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
