@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right authenticated">
            <li class="@(ViewBag.Title == "My Profile" ? "active" : "")">
                @Html.ActionLink(User.Identity.GetUserName(), "UserProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("Log off", "Logoff", new { controller = "Account" }, new { @class = "mdl-js-button mdl-js-ripple-effect" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@(ViewBag.Title == "Register" ? "active" : "")">@Html.ActionLink("Register", "Register", new {controller = "Account"}, new {@class = "mdl-js-button mdl-js-ripple-effect"})</li>
        <li class="@(ViewBag.Title == "Login" ? "active" : "")">@Html.ActionLink("Log in", "Login", new {controller = "Account"}, new {@class = "mdl-js-button mdl-js-ripple-effect"})</li>
    </ul>
}